{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login form{% endblock %}

{% block content %}
    {% if form.errors %}
            <h1 class="error_message">You entered wrong login or password, please, try again.</h1>
    {% endif %}
    <h2>Enter login and password:</h2>
    <form method="post">
        <div class="mb-3">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" class="btn btn-success" value="Log in"></p>
        </div>
    </form>
{% endblock %}